@model IEnumerable<Diploma.Models.Process>

@{
    ViewBag.Title = "Index";
}

<h2>Список протекающих процессов</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.Label("№")
        </th>
        <th>
            @Html.Label("Название процесса")
        </th>
        <th>
            @Html.Label("Количество запущенных экземпляров")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.Name, "Instancess")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstanceCount)
            </td>
        </tr>
    }
</table>