@model IEnumerable<Diploma.Models.Process>

@{
    ViewBag.Title = "Index";
}

<h1>Список протекающих процессов</h1>

<table class="table table-hover">
    <tr>
        <th class="tableHeaderFont">
            @Html.Label("№")
        </th>
        <th class="tableHeaderFont">
            @Html.Label("Название процесса")
        </th>
        <th class="tableHeaderFont">
            @Html.Label("Количество запущенных экземпляров")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="tableFont">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="tableFont">
                @Html.ActionLink(item.Name, "Instances")
            </td>
            <td class="tableFont">
                @Html.DisplayFor(modelItem => item.InstanceCount)
            </td>
        </tr>
    }
</table>