@model IEnumerable<Diploma.Models.Instance>

@{
    ViewBag.Title = "Instances";
}

<h2>Instances</h2>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th class="tableHeaderFont">
                @Html.Label("№")
            </th>
            <th class="tableHeaderFont">
                @Html.Label("Имя врача")
            </th>
            <th class="tableHeaderFont">
                @Html.Label("Имя пациента")
            </th>
            <th class="tableHeaderFont">
                @Html.Label("статус процесса")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="tableFont">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="tableFont">
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td class="tableFont">
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td class="tableFont">
                    @Html.DisplayFor(modelItem => item.percentOfComplite)
                </td>
            </tr>
        }
    </table>
</div>